py-obfsproxy.sublime-project
py-obfsproxy.sublime-workspace
pytidy.py
tidy.py
tidyall
.DS_Store
py-obfsproxy.xcodeproj/*
py-obfsproxy.xcodeproj/
build/*
dist/*
obfsproxy.egg-info/*
*.pyc
src/obfsproxy/*.pyc
