recursive-include obfsproxy *.py *.pits *.txt
recursive-include doc *
recursive-include bin *
include TODO
include LICENSE
include versioneer.py
include INSTALL
include ChangeLog
include setup_py2exe.py
